.calculator {
  border: solid black;
  width: fit-content;
  margin: auto;
  padding: 30px;
  border-radius: 10px;
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 70px);
  grid-template-rows: repeat(6, 70px);
  gap: 10px;
}

.display {
  grid-column: 1 / 5;
  display: flex;
  align-items: center;
  padding: 10px;
  border: solid black;
  margin-bottom: 10px;
  font-family: monospace;
  font-size: 30px;
}

.clear,
.backspace {
  grid-column: span 2;
}
